<li>
<div class="d-flex justify-content-between">
<div>
  <%=user_gravatar(user)%> &nbsp;<%= user.name %><br> 
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
</div>
<div>
    <%= link_to 'Add friend', friendships_path(:id => user.id), :method => :post, class: "btn btn-outline-success btn-sm  " if !Friendship.find_by_user_id_and_friend_id(current_user,user) && current_user!=user%>
    <%= link_to 'Delete friend', friendship_path(:id => user.id), :method => :delete, class: 'btn btn-outline-warning btn-sm' if Friendship.find_by_user_id_and_friend_id(current_user,user) %>
    <%= link_to 'Accept Friendship', friendship_path(:id => user.id), :method => :patch, class: 'btn btn-outline-success btn-sm' if current_user.pending_friends.include?(user)%>
    <%if current_user.friendships.find_by_friend_id(user)%>
      <button class='btn btn-secondary btn-sm gap-2'>
        <%= current_user.friendships.find_by_friend_id(user).status %>
      </button>
    <%end%> 
</div>
</div>
    <hr>
</li>